& when (@media-common =true) {
    .action.toggle-favorite.towishlist.isFavorite:before {
        content: @icon-trash;
    }

    .favorites.favorites-list {
        .product-item .price-box {
            margin-bottom: 0.5rem;
        }

        .toolbar .pages {
            float: left;
            display: block;
            width: auto;
        }

        .product-item-actions {
            margin: 0;
            display: flex;
            justify-content: flex-end;

            button {
                all: unset;
                cursor: pointer;
            }
        }

    }
}